* {
    margin: 0;
    padding: 0;
    text-align: center;
    justify-content: center;
    align-items: center;

}
body{
    background-color: #000000;
}
h1{
    background-color: rgb(0, 0, 0);
    font-size: 3rem;
    color: rgb(255, 255, 255);
    line-height: 6rem;
}

.choices{
    display: flex;
    margin-top: 0.5rem;
    
}

.choice{
    width: 220px;
    height: 220px;
    /* margin: 2rem; */
    border-radius: 50%;
    display: flex;
}

img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    border: 0.5px solid black;
}

.choice:hover{
    /* background-color: rgb(0, 0, 143); */
    animation: anime 3s linear infinite;
    /* border: 1px solid black;  */

}
@keyframes anime{
    0%,50%,100%{
        background-color: greenyellow;
    }
    25%,75%{
        background-color: rgb(195, 132, 255);
    }

}

.score-board{
    display: flex;
    margin-top: 3rem;
    gap: 8rem;
    font-size: 3rem;
    
}
.score{
    border: 2px solid white;
    width: 10rem;
    border-radius: 20px 40px;
    color: white;
    background-color: rgb(149, 28, 165);

}

#user-score,
#comp-score {
  font-size: 4rem;
}

.msg-container {
  margin-top: 5rem;
}

#msg {
  background-color: #ffffff;
  color: #000000;
  font-size: 2rem;
  display: inline;
  padding: 1rem;
  border-radius: 1rem;
}
.button{
    display: flex;
    position:sticky;
    float: right;
    padding: 20px;
}
button{
    height: 4rem;
    width: 4rem;
    background-color: #000000;
    color: #ffffff;
    font-size: 2rem;
    border: 1px solid white;
    border-radius: 50%;
}


